body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
.encabezado {
    background-image: url("img.2");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    text-align: center;

    min-height: 350px;
    padding: 100px 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.encabezado::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.encabezado h1,
.encabezado p {
    position: relative;
    z-index: 1;
}
main {
    padding: 20px;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}
.tarjeta {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    overflow: hidden;

    
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.tarjeta:hover {
    transform: scale(1.05); 
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.tarjeta img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    transition: transform 0.4s ease;
}

.tarjeta:hover img {
    transform: scale(1.1);
}


.contenido {
    padding: 15px;
    text-align: center;
}

.contenido h3 {
    margin: 0 0 10px;
}

.tarjeta:hover h3 {
    color: #007BFF;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
